* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.formerInput {
    width: 500px;
    height: 700px;
    display: flex;
    align-items: center;
    background-color: #0c0ce94d;
}

.groupInputHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    margin-bottom: 10px;
}

.groupInputBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    margin-bottom: 10px;
    
}
.genedInput{
    flex-direction: row;
}